.mat-toolbar {
  background-color: #78A83C ;
}

.wb-grocery {
  background-image: url("../assets/website_background.png");
  background-position: center;
  background-size: cover;
  height: 100%;
}

h1 {
  padding-left: 20px;
  font-style: oblique;
  font-size: xx-large;
  color: white;
}

.img_cl {
  width: 60px;
  height: 60px;
  background-color: #78A83C ;
}